[submodule "templates/plantillas-thesis"]
	path = templates/plantillas-thesis
	url = https://github.com/open-source-uc/latex-template-msc
[submodule "templates/plantilla-practica-2"]
	path = templates/plantilla-practica-2
	url = https://github.com/open-source-uc/ing2001.git
